<h1>Team</h1>

    <ul>
      <% @teams.each do |person| %>
          <li>
            <h2><%= person.name %></h2>
            <%= image_tag person.photo.url(:thumb).to_s %>
            <p><%= raw(person.info) %></p>
          </li>
      <% end %>
    </ul>


<%= render 'disqus/thread' %>

