<div class="content-contact-us">
    <h1>Контакты</h1>

    <p>Tester, +380680000000</p>
    <%= feedback_tab(:position => 'right') %>

    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=eXeZ1Qs_k-jD2Etx-iVVcBMRKpYNk9xj&width=500&height=323"></script>

    <%= render 'disqus/thread' %>
</div>