<div class="content-contact-us">
    <h1>Обращайтесь к нам!</h1>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing</p>

  <span class="contact-us-phone" itemprop="telephone"><span>тел:</span> 8(050) 500 50 50</span>

  <span class="contact-us-mail"><span>e-mail:</span> <a href="mailto:join@artel-outsourcing.com"><span itemprop="email">charity@gmail.com</span></a></span>

  <ul class="social">
    <li class="vimeo"><a href="#">Vimeo</a></li>
    <li class="yt"><a href="#">Youtube</a></li>
  </ul>

  <%= feedback_tab(position: 'right') %>

    <!--<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=eXeZ1Qs_k-jD2Etx-iVVcBMRKpYNk9xj&width=500&height=323"></script>-->

</div>