<div class="content-help">
  <ul>
    <li>
      <img alt="Thumb charity 1 03" src="/uploads/event/image/2/thumb_charity-1_03.jpg" />
      <div class="info">
        <h1>Lorem Ipsum is simply dummy</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

      </div>
    </li>
    <li>
      <img alt="Thumb charity 1 06" src="/uploads/event/image/3/thumb_charity-1_06.jpg" />
      <div class="info">
        <h1>Ipsum is simply dummy</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.</p>

      </div>
    </li>
    <li>
      <img alt="Thumb charity 1 08" src="/uploads/event/image/4/thumb_charity-1_08.jpg" />
      <div class="info">
        <h1>Lorem Ipsum is simply dummy</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the like Aldus PageMaker including versions of Lorem Ipsum.</p>

      </div>
    </li>

  </ul>

  <%= link_to "Помочь", contacts_path, :class => "join" %>

    <%= render 'disqus/thread' %>
</div>