<% provide(:title, 'Home') %>
<div class="content-home">
  <div id="banner-fade">
    <ul class="bjqs">
      <% @posts.each do |post| %>
          <li>
            <%= image_tag post.image.url(:slider).to_s %>
            <h2><%= post.title %></h2>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="about-us">
    <h1>О проекте Charity</h1>

    <p>Это короткие интервью и фотографии людей, которые оказались далеко за чертой бедности. Попытка понять их и жизнь, которой они живут. Как так случилось? Почему? Угнетает ли их такое существование или они вполне довольны? Нам с детства говорят: фу, не подходи к дяде!..</p>
  </div>
  <script type="text/javascript">
      $('#banner-fade').bjqs({
          showmarkers : false,
          height      : 480,
          width       : 480
//        responsive  : true
      });
  </script>
</div>