<p>
  <strong>Title:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>

</p>

<%= render 'disqus/thread' %>

<%= link_to 'Back to Events', events_path %>