
<% @posts.each do |post| %>
    <a class="fancybox" rel="group" title="<%= raw(post.text) %>" href="<%= post.image.url(:thumb).to_s %>"><img src="<%= post.image.url(:thumb).to_s %>" alt="<%= raw(post.title) %>" /></a>
<% end %>


<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>