// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "reset.css";

.wrapper {
  background-color: #ffffff;

  .header-wrap {
    height: 100px;

      .header {
        width: 980px;
        margin: 0 auto;
        clear: both;

        .logo {
          img {
            display: block;
            float: left;
            margin: 5px 50px 0 0;
          }
        }

        .nav {
          margin-top: 13px;
          overflow: hidden;
          float: left;
          li {
            float: left;
            a {
              font-family: arial;
              font-size: 20px;
              line-height: 24px;
              font-weight: bold;
              text-transform: uppercase;
              text-decoration: none;
              margin-right: 20px;


            }
          }
        }

      }
  }

  .content-wrap {
    width: 980px;
    margin: 0 auto;
    .content-home {
      background: url(/assets/images/home/home-top-bg.jpg);
    }
  }



}