// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "reset.css";

@mixin title-h1 {
  width: 460px;
  text-align: center;
  margin: 0 auto 21px;
  font-size: 24px;
  color: #292929;
}

@mixin paragraph {
  font-family: arial;
  font-size: 13px;
  line-height: 20px;
  width: 460px;
  margin: 0 auto 28px;
  text-align: center;
  color: #535353;

}

@mixin button {
  background-color: #92bc20;
  margin-bottom: 20px;
  padding: 14px 19px;
  min-height: 20px;
  border: 1px solid #bcdb53;
  border: 1px solid rgba(103, 150, 0, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(204, 204, 204, 0.4);
}

body {
  overflow-y: scroll;
  font-family: 'Roboto Condensed', sans-serif;
  .wrapper.home {
    background-color: #ffffff;
    background-image: url(image-path('home/home-top-bg.jpg'));
    background-position: center 60px;
    background-repeat: no-repeat;
  }
  .wrapper {
    iframe {
      margin-bottom: 15px;
    }
    .header-wrap {

        .header {
          height: 60px;
          width: 980px;
          margin: 0 auto;
          clear: both;

          .logo {
            img {
              display: block;
              width: 113px;
              height: 44px;
              float: left;
              overflow: hidden;
              margin: 9px 124px 0 0;
              background-image: url(image-path('home/logo.jpg')); }
          }

          .nav {
            margin-top: 24px;
            overflow: hidden;
            float: left;
            li {
              float: left;
              a {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 16px;
                line-height: 16px;
                font-weight: normal;
                text-transform: uppercase;
                text-decoration: none;
                margin-right: 40px;
                color: #535353;
              }
            }
          }
          .phone {
            padding-top: 10px;
              font-size: 13px;
              color: #535353;
            .number {
              font-size: 18px;
              font-weight: bold;
              color: #1d6ea7;
            }
          }
        }
    }

    .content-wrap {
      width: 980px;
      margin: 0 auto;
      .content-home {
        #banner-fade {
          margin-bottom: 0;
        }
        .about-us {
          margin-top: 25px;
        }
        p {
          @include paragraph;
        }
        h1 {
          @include title-h1;
        }

      }
    }

    .content-help {
      ul {
        li {
          overflow: hidden;
          margin-bottom: 40px;
          img {
            display: block;
            float: left;
            overflow: hidden;
            margin-right: 40px;
          }

          .info {
            overflow: hidden;
            padding-right: 10px;
            h1 {
              margin-bottom: 28px;
              color: #292929;
              font-size: 24px;
              line-height: 24px;
            }
            p {
              font-family: arial;
              font-size: 13px;
              line-height: 20px;
              color: #535353;
            }
          }
        }
      }
      .join {
        @include button;
        display: block;
        width: 200px;
        margin: 0 auto;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 20px;

      }
    }


    .content-contact-us {
      h1 {
        @include title-h1;
      }

      p {
        @include paragraph;
      }
      .contact-us-phone {
        text-align: center;
        display: block;
        font-size: 24px;
        color: #292929;
        span {
          font-size: 16px;
        }
      }

      .contact-us-mail {
        margin-bottom: 60px;
        text-align: center;
        display: block;
        font-size: 24px;
        color: #292929;
        span {
          font-size: 16px;
        }
        a  {
          text-decoration: none;
          span {
            font-size: 24px;
            color: #292929;
            text-decoration: none;
          }
        }

      }

    }

    .footer-wrap {
      }
    }

  }

  .home {
    .bjqs-slide {
      img {
        height: 480px !important;
      }
    }
    .footer-wrap {
      .footer {
        width: 980px;
        margin: 0 auto;
        .social {
          li {
            float: left;
            .vimeo a {
              display: block;
              width: 28px;
              height: 25px;
              background-image: url(image-path('home/vimeo-icon.jpg'));
              background-repeat: no-repeat;
              background-position: bottom left;
            }
          }
        }
      }
    }
  }


  .social {
    width: 120px !important;
    text-align: center;
    margin: 0 auto;
    li {
      float: left;
      a {
        display: block;
        overflow: hidden;
        text-indent: -500px;
        margin: 0 15px 90px;
      }
    }
    .vimeo a {
      width: 28px;
      height: 25px;
      background-image: url(image-path('home/vimeo-icon.jpg'));
    }
    .fb a {
      width: 12px;
      height: 24px;
      background-image: url(image-path('home/facebook-icon.jpg'));
    }
    .yt a {
      width: 28px;
      height: 27px;
      background-image: url(image-path('home/youtube-icon.jpg'));
    }
    .tw a {
      width: 28px;
      height: 24px;
      background-image: url(image-path('home/twitter-icon.jpg'));
    }
  }


  .wrapper:not(.home) {
    background-image: url(image-path('home/team-1_02.jpg'));
    background-repeat: no-repeat;
    background-position: center 60px;
    .header-wrap {
      margin-bottom: 90px;
    }
    .footer-wrap {
      clear: both;
      width: 100%;
      background-image: url(image-path('home/footer-bg.jpg'));
      background-repeat: no-repeat;
      background-position: bottom center;
      .footer {
        width: 980px;
        height: 212px;
        margin: 0 auto;
        .social {
          display: none;
        }

    }
  }
}
